/* Large tablet to 1200px (widths smaller than 1140px row width) */
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }
  .row { padding: 0 2% }
}


/* Small tablet to large tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  body { font-size: 0.8rem; }
  section {padding: 60px 0;}
  h1 {font-size: 2rem;}
  h2 {font-size: 1.4rem;}
  h3 {font-size: .7rem;}
  .long-copy {
    width: 70%;
    margin-left: 15%;
  }
  .box p {
    font-size: .7rem;
    line-height: 135%;
  }
  .icon-big {
    font-size: 2.5rem;
    margin-bottom: 5px;
  }
  .steps-box {margin-left: -20px;}
  .steps-box:first-child {
    margin-top: 10px;
    text-align: right;
    padding-right: 3%;
  }
  .steps-box:last-child {
    padding-left: 3%;
    margin-top: 20px;
  }
  .works-step {margin-bottom: 30px;}
  .works-step:last-of-type {margin-bottom: 80px;}
  .works-step div {
    border: 1px solid #e67e22;
    height: 40px;
    width: 40px;
    padding: 6px;
    font-size: 1rem;
    margin-right:10px;
  }
  .works-step:last-of-type {margin-bottom: 40px;}
  .btn-app img {
    height: 30px;
    width: auto;
    margin-right: 10px;
  }
  .app-screen {margin-right: 40px;}

  .city-feature {
    margin-bottom: 2px;
    font-size: .7rem;
  }
  .icon-small{
    width: 15px;
    font-size: .8rem;
    margin-top: -6px;
    margin-right: 4px;
    line-height: 1.2rem;
  }
  .plan-price {font-size: 1.8rem;}

  .plan-box {
    width: 100%;
    margin-left: 0%;
  }
  .contact-form { width: 80%;}
  footer {padding: 30px;}
  .footer-nav li {margin-right: 10px;}
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  body {font-size: 16px;}

  section {padding: 30px 0;}

  row,
  hero-text-box {padding:0, 4%;}

  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }

  .logo {
    height: 75px;
    margin-top: 40px;
  }

  .main-nav {display: none;}

  .mobile-nav-icon {
    display: inline-block;
    margin-top: 10px;
  }

  .main-nav {
    float: left;
    margin-top: 25px;
    margin-left: 20px;
  }

  .main-nav li {
    display: block;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    font-size: 1rem;
  }



  .sticky .main-nav { margin-top: 10px; }

  .sticky .mobile-nav-icon i {
    color: #555;
  }

  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited { padding: 10px 0; }

  .hero-text-box h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .hero-text-box .btn {
    margin-left: 8%;
  }

  h1 { font-size: 1.8rem;}
  h2 {font-size: 1.2rem;}
  h3 {font-size: .7rem;}

  .long-copy {
    text-align: center;
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .section-features {text-align: center;}
  .section-features .icon-big {font-size: 2rem;}
  .section-steps h2 {font-size: .9rem;}

  .steps-box {
    margin-top: 5px;
    margin-left: 0px;
  }

  .steps-box:first-child {
    text-align: center;
    margin-left: 6%;
  }

  .works-step {margin-bottom: 20px;}

  .btn-app img {
    margin-right: 0px;
    margin-left: 90px;
  }
  .works-step div {
    height: 30px;
    width: 30px;
    padding:3px;
    font-size: .9rem;
  }

  .app-screen {width: 30%;}

  .section-cities .box img {
    width: 50%;
    height: auto;
    margin-bottom: 10px;
    margin-left: 25%;
  }

  .section-cities h3 {
    text-align: center;
    margin-bottom: 5px;
  }

  .city-feature { text-align: center;}

  .section-testimonials h2 {font-size: 1.1rem;}

  blockquote {
    padding: 1%;
    margin-top: 20px;
  }
  blockquote:before {
    font-size: 3rem;
    top: -1px;
    left: -4px;
  }
  cite {
    font-size: .6rem;
    margin-top: 5px;
    text-align: right;
  }

  footer .col {margin: 0 0 4% 0;}
  .footer-nav {width: 50%;}


  footer { font-size: .6rem; }
  .footer-nav li,
  .social-links li {
    margin-right: 5px;
  }

  .social-links li {
    font-size: .7rem;
    margin-right: 5px;
  }
  .social-links {float: left;}

}

/* Small phones to 480px */
@media only screen and (max-width: 480px) {

  h1 {font-size: 1.2rem;}
  h2 {font-size: .9rem;}
  h3 {font-size: .7rem;}
  .hero-text-box {
    width: 100%;
    text-align: center;
  }
  .hero-text-box .btn {margin-top: 30px;}
  .hero-text-box h1 {margin-top: 40px;}

  .logo {margin-top: 30px;}
  .btn-app img {margin-left:40px;}

  footer {
    padding: 30px;
    line-height: 1.2rem;
  }
  section { padding: 25px 0;}
  .contact-form {width: 100%;}

  .send-btn {margin-left: 125px;}

}
